info:
  contact: {}
paths:
  /index:
    get:
      responses:
        "200":
          description: OK
          schema:
            type: string
      tags:
      - 首页
  /user/getUserList:
    get:
      responses:
        "200":
          description: code","message"}
          schema:
            type: json
      tags:
      - 获取用户列表
swagger: "2.0"
